.h-100 {
  height: 100%;
}
.w-100 {
  width: 100%;
}
.flex-one {
  flex: 1;
}
.d-flex {
  display: flex;
}
.d-flex-col {
  display: flex;
  flex-direction: column;
}
.align-items-center {
  align-items: center;
}
.justify-content-center {
  justify-content: center;
}
.cursor-pointer {
  cursor: pointer;
}
