.tweets-sentiment-container {
  .labels {
    font-size: '12px';
  }
}

.tweets-container {
  font-size: 10px;
  height: 100px;
  overflow: scroll;
  margin-top: 20px;
  padding: 0 20px;

  li {
    margin-bottom: 5px;
  }
}
