@import '../../utils/styles/theme';

.home-container {
  @include theme() {
    color: theme-get('text-color');
    background-color: theme-get('bg-color');
  }
  transition: background-color 0.2s ease;
  flex: 1;
  display: flex;
  align-items: center;

  .title {
    font-size: 14px;
    margin-bottom: 12px;
    text-align: center;
  }

  .separator {
    height: 1px;
    width: 100%;
    margin: 20px 0;
    @include theme() {
      background-color: theme-get('border');
    }
  }
}

.home-left-side {
  flex: 1;
  padding: 0 20px;
  display: flex;
  justify-content: center;
}

.home-right-side {
  height: 100%;
  width: 200px;
  padding: 0 20px;
  border-left: 1px solid black;
  @include theme() {
    border-color: theme-get('border');
  }
}
