@import '../../utils/styles/theme';
@import '../../utils/styles/colors';

.home-container {
  @include theme() {
    color: theme-get('text-color');
    background-color: theme-get('bg-color');
  }
  transition: background-color 0.2s ease;
  flex: 1;
  display: flex;
  align-items: center;

  .title {
    font-size: 14px;
    margin-bottom: 12px;
    text-align: center;
  }

  .coin-info {
    img {
      border-radius: 50%;
      margin-right: 10px;
      width: 20px;
      height: 20px;
    }
  }

  .new-search-text {
    font-size: 10px;
    color: $mustard;
  }

  .no-results-text {
    font-size: 10px;
    margin-bottom: 5px;
  }

  .loading-spinner {
    position: absolute;
    right: 0;
    top: 5px;
  }

  .separator-horizontal {
    height: 1px;
    width: 100%;
    margin: 20px 0;
    @include theme() {
      background-color: theme-get('border');
    }
  }
  .separator-vertical {
    width: 1px;
    margin: auto 20px;
    @include theme() {
      background-color: theme-get('border');
    }
  }
}

.home-left-side {
  flex: 1;
  padding: 0 20px;
  height: 100%;

  .result-list-text {
    margin-bottom: 6px;
    color: $mustard;
  }
}

.home-right-side {
  height: 100%;
  width: 200px;
  padding: 0 20px;
  border-left: 1px solid black;
  @include theme() {
    border-color: theme-get('border');
  }
}
